### This notebook will call ebird.org API for recent sightings of rare birds

#### Tentatively, the goal is to see if sightings of birds drop with bad weather, including recent bad air days due to Canadian wildfires

In [1]:
from dotenv import load_dotenv
load_dotenv
import os
import requests

In [2]:
import pandas as pd

In [3]:
load_dotenv()

True

In [4]:
API_KEY = os.getenv("API_KEY")
print(API_KEY)

k7i7idmjc77h

In [5]:
# Creating URL for Bird API

lat = '40.732254'
lng = '-73.987411'

url = 'https://api.ebird.org/v2/data/obs/geo/recent?lat=' + lat + '&lng=' + lng

# url = 'https://api.ebird.org/v2/data/obs/geo/recent?lat=40.732254&lng=-73.987411'

print(url)

https://api.ebird.org/v2/data/obs/geo/recent?lat=40.732254&lng=-73.987411

In [7]:
payload={}
headers = {
  'X-eBirdApiToken': API_KEY
}

response = requests.request("GET", url, headers=headers, data=payload)

db = pd.read_json(response.text)
db

,speciesCode,comName,sciName,locId,locName,obsDt,howMany,lat,lng,obsValid,obsReviewed,locationPrivate,subId,exoticCategory
0,dowwoo,Downy Woodpecker,Dryobates pubescens,L25635116,"236 Kane Street, New York, US (40.686, -73.995)",2023-07-02 11:57,1.0,40.685692,-73.995343,True,False,True,S143346394,NaN
1,greegr,Great Egret,Ardea alba,L25634733,"113 Mansion Ave, Yonkers US-NY 40.93248, -73.8...",2023-07-02 11:45,1.0,40.932483,-73.859959,True,False,True,S143344965,NaN
2,hergul,Herring Gull,Larus argentatus,L1342265,Hudson River Greenway--Clinton Cove (54th-59th...,2023-07-02 11:02,8.0,40.770527,-73.995350,True,False,False,S143342174,NaN
3,barswa,Barn Swallow,Hirundo rustica,L1342265,Hudson River Greenway--Clinton Cove (54th-59th...,2023-07-02 11:02,6.0,40.770527,-73.995350,True,False,False,S143342174,NaN
4,normoc,Northern Mockingbird,Mimus polyglottos,L1342265,Hudson River Greenway--Clinton Cove (54th-59th...,2023-07-02 11:02,1.0,40.770527,-73.995350,True,False,False,S143342174,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166,dunlin,Dunlin,Calidris alpina,L165143,Jamaica Bay Wildlife Refuge,2023-06-19 17:44,1.0,40.617030,-73.824456,True,False,False,S142122044,NaN
167,whrsan,White-rumped Sandpiper,Calidris fuscicollis,L165143,Jamaica Bay Wildlife Refuge,2023-06-19 17:44,3.0,40.617030,-73.824456,True,True,False,S142122044,NaN
168,reshaw,Red-shouldered Hawk,Buteo lineatus,L1336189,Van Saun Park--Walden Pond,2023-06-19 16:30,1.0,40.923761,-74.049868,True,False,False,S142110385,NaN
169,redkno,Red Knot,Calidris canutus,L7926210,"Jamaica Bay, Elder's Point Marsh (East)",2023-06-19 11:01,3.0,40.635622,-73.847586,True,True,False,S142120488,NaN
170,leafly,Least Flycatcher,Empidonax minimus,L189035,Liberty SP,2023-06-19 06:00,1.0,40.702570,-74.049354,True,False,False,S142112082,NaN

In [9]:
url2 = url + '&back=30'

payload={}
headers = {
  'X-eBirdApiToken': API_KEY
}

response = requests.request("GET", url2, headers=headers, data=payload)

db1 = pd.read_json(response.text)
db1

,speciesCode,comName,sciName,locId,locName,obsDt,howMany,lat,lng,obsValid,obsReviewed,locationPrivate,subId,exoticCategory
0,dowwoo,Downy Woodpecker,Dryobates pubescens,L25635116,"236 Kane Street, New York, US (40.686, -73.995)",2023-07-02 11:57,1.0,40.685692,-73.995343,True,False,True,S143346394,NaN
1,greegr,Great Egret,Ardea alba,L25634733,"113 Mansion Ave, Yonkers US-NY 40.93248, -73.8...",2023-07-02 11:45,1.0,40.932483,-73.859959,True,False,True,S143344965,NaN
2,hergul,Herring Gull,Larus argentatus,L1342265,Hudson River Greenway--Clinton Cove (54th-59th...,2023-07-02 11:02,8.0,40.770527,-73.995350,True,False,False,S143342174,NaN
3,barswa,Barn Swallow,Hirundo rustica,L1342265,Hudson River Greenway--Clinton Cove (54th-59th...,2023-07-02 11:02,6.0,40.770527,-73.995350,True,False,False,S143342174,NaN
4,normoc,Northern Mockingbird,Mimus polyglottos,L1342265,Hudson River Greenway--Clinton Cove (54th-59th...,2023-07-02 11:02,1.0,40.770527,-73.995350,True,False,False,S143342174,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211,kenwar,Kentucky Warbler,Geothlypis formosa,L2864862,Reeds Basket Willow Swamp Park,2023-06-04 09:50,1.0,40.600939,-74.104175,True,True,False,S140832671,NaN
212,yerwar,Yellow-rumped Warbler,Setophaga coronata,L3151880,Bush Terminal Piers Park,2023-06-04 09:08,2.0,40.654161,-74.020445,True,True,False,S140555366,NaN
213,hoomer,Hooded Merganser,Lophodytes cucullatus,L389007,Richard W. DeKorte Park,2023-06-04 05:30,2.0,40.783300,-74.102517,True,True,False,S140427621,NaN
214,boboli,Bobolink,Dolichonyx oryzivorus,L389007,Richard W. DeKorte Park,2023-06-03 16:30,1.0,40.783300,-74.102517,True,True,False,S140388317,NaN
215,tenwar,Tennessee Warbler,Leiothlypis peregrina,L285884,"Green-Wood Cemetery, Brooklyn",2023-06-03 08:57,1.0,40.652308,-73.990428,True,True,False,S140320781,NaN

In [ ]:
db1.sort_values('obsDt')

looks like these observations get cleaned with time.

let's take a look at numbers by date

In [10]:
db1.to_csv('birdsout0702.csv', index=False)

In [ ]:
db1.obsDt

In [ ]:
    db1.obsDt = db1.obsDt.str[0:10]
    db1

In [ ]:
db1.groupby('obsDt').count()

#### so the observations get cleaned. let's see if there's another data point available

In [11]:
url = "https://api.ebird.org/v2/ref/region/list/subnational2/US-NY"

payload={}
headers = {
  'X-eBirdApiToken': API_KEY
}

response = requests.request("GET", url, headers=headers, data=payload)

print(response.text)

[{"code":"US-NY-001","name":"Albany"},{"code":"US-NY-003","name":"Allegany"},{"code":"US-NY-005","name":"Bronx"},{"code":"US-NY-007","name":"Broome"},{"code":"US-NY-009","name":"Cattaraugus"},{"code":"US-NY-011","name":"Cayuga"},{"code":"US-NY-013","name":"Chautauqua"},{"code":"US-NY-015","name":"Chemung"},{"code":"US-NY-017","name":"Chenango"},{"code":"US-NY-019","name":"Clinton"},{"code":"US-NY-021","name":"Columbia"},{"code":"US-NY-023","name":"Cortland"},{"code":"US-NY-025","name":"Delaware"},{"code":"US-NY-027","name":"Dutchess"},{"code":"US-NY-029","name":"Erie"},{"code":"US-NY-031","name":"Essex"},{"code":"US-NY-033","name":"Franklin"},{"code":"US-NY-035","name":"Fulton"},{"code":"US-NY-037","name":"Genesee"},{"code":"US-NY-039","name":"Greene"},{"code":"US-NY-041","name":"Hamilton"},{"code":"US-NY-043","name":"Herkimer"},{"code":"US-NY-045","name":"Jefferson"},{"code":"US-NY-047","name":"Kings"},{"code":"US-NY-049","name":"Lewis"},{"code":"US-NY-051","name":"Livingston"},{"code":"US-NY-053","name":"Madison"},{"code":"US-NY-055","name":"Monroe"},{"code":"US-NY-057","name":"Montgomery"},{"code":"US-NY-059","name":"Nassau"},{"code":"US-NY-061","name":"New York"},{"code":"US-NY-063","name":"Niagara"},{"code":"US-NY-065","name":"Oneida"},{"code":"US-NY-067","name":"Onondaga"},{"code":"US-NY-069","name":"Ontario"},{"code":"US-NY-071","name":"Orange"},{"code":"US-NY-073","name":"Orleans"},{"code":"US-NY-075","name":"Oswego"},{"code":"US-NY-077","name":"Otsego"},{"code":"US-NY-079","name":"Putnam"},{"code":"US-NY-081","name":"Queens"},{"code":"US-NY-083","name":"Rensselaer"},{"code":"US-NY-085","name":"Richmond"},{"code":"US-NY-087","name":"Rockland"},{"code":"US-NY-091","name":"Saratoga"},{"code":"US-NY-093","name":"Schenectady"},{"code":"US-NY-095","name":"Schoharie"},{"code":"US-NY-097","name":"Schuyler"},{"code":"US-NY-099","name":"Seneca"},{"code":"US-NY-089","name":"St. Lawrence"},{"code":"US-NY-101","name":"Steuben"},{"code":"US-NY-103","name":"Suffolk"},{"code":"US-NY-105","name":"Sullivan"},{"code":"US-NY-107","name":"Tioga"},{"code":"US-NY-109","name":"Tompkins"},{"code":"US-NY-111","name":"Ulster"},{"code":"US-NY-113","name":"Warren"},{"code":"US-NY-115","name":"Washington"},{"code":"US-NY-117","name":"Wayne"},{"code":"US-NY-119","name":"Westchester"},{"code":"US-NY-121","name":"Wyoming"},{"code":"US-NY-123","name":"Yates"}]

In [21]:
# this is stats for a given date in a given region

# url = "https://api.ebird.org/v2/product/stats/{{regionCode}}/{{y}}/{{m}}/{{d}}"

url = "https://api.ebird.org/v2/product/stats/US-NY/2023/6/25"

payload={}
headers = {
  'X-eBirdApiToken': API_KEY
}

response = requests.request("GET", url, headers=headers, data=payload)

print(response.text)

{"numChecklists":1502,"numContributors":901,"numSpecies":218}

#### Problem with data

Statistics are not provided for sub-regions, so I cannot check the number of submissions for NYC only. New York State is too big geographically to tie to a weather observation. Instead, I will get statistics for NJ and CT in June and check against local weather in NYC for this project. 

Another way to do this may be to get the checklist feed on a given date and filter out NYC submissions, but that would mean requesting a lot of data and I don't want to get banned from the API just yet.

In [13]:
from datetime import date, timedelta

In [14]:
# grabbed from the web

from datetime import date, timedelta

def date_range_list(start_date, end_date):
    # Return generator for a list datetime.date objects (inclusive) between start_date and end_date (inclusive).
    curr_date = start_date
    while curr_date <= end_date:
        yield curr_date 
        curr_date += timedelta(days=1)

start_date = date(year=2023, month=6, day=1)
stop_date = date(year=2023, month=6, day=30)
date_list = date_range_list(start_date, stop_date)

obs_dates = [date for date in date_list]
obs_dates

[datetime.date(2023, 6, 1),
 datetime.date(2023, 6, 2),
 datetime.date(2023, 6, 3),
 datetime.date(2023, 6, 4),
 datetime.date(2023, 6, 5),
 datetime.date(2023, 6, 6),
 datetime.date(2023, 6, 7),
 datetime.date(2023, 6, 8),
 datetime.date(2023, 6, 9),
 datetime.date(2023, 6, 10),
 datetime.date(2023, 6, 11),
 datetime.date(2023, 6, 12),
 datetime.date(2023, 6, 13),
 datetime.date(2023, 6, 14),
 datetime.date(2023, 6, 15),
 datetime.date(2023, 6, 16),
 datetime.date(2023, 6, 17),
 datetime.date(2023, 6, 18),
 datetime.date(2023, 6, 19),
 datetime.date(2023, 6, 20),
 datetime.date(2023, 6, 21),
 datetime.date(2023, 6, 22),
 datetime.date(2023, 6, 23),
 datetime.date(2023, 6, 24),
 datetime.date(2023, 6, 25),
 datetime.date(2023, 6, 26),
 datetime.date(2023, 6, 27),
 datetime.date(2023, 6, 28),
 datetime.date(2023, 6, 29),
 datetime.date(2023, 6, 30)]

In [45]:
nj_data = []
for date in obs_dates[0:3]:
    url = f"https://api.ebird.org/v2/product/stats/US-NJ/{date.year}/{date.month}/{date.day}"
    # print(url)
    
    payload={}
    headers = {
      'X-eBirdApiToken': API_KEY
    }
    response = requests.request("GET", url, headers=headers, data=payload)
    text = response.text
    nj_data.append(text)
nj_data

['{"numChecklists":389,"numContributors":315,"numSpecies":202}',
 '{"numChecklists":362,"numContributors":299,"numSpecies":196}',
 '{"numChecklists":522,"numContributors":381,"numSpecies":205}']

In [47]:
pd.DataFrame(nj_data, index=obs_dates)

                                                   0
0  {"numChecklists":389,"numContributors":315,"nu...
1  {"numChecklists":362,"numContributors":299,"nu...
2  {"numChecklists":522,"numContributors":381,"nu...